
.page {
    background-color: #EDECED;
}

.card {
    margin: 16;
    background-color: #F3F3F6;
    border-radius: 4;
}

.image {
    height: 40;
    width: 40;
}

.card-header, .card-body {
    padding: 10 12;
}

.title, .caption {
    margin-bottom: 0;
}

.title {
    color: rgba(0,0,0,0.87);
}

.caption {
    color: rgba(0,0,0,0.54);
}