
<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Explore', iconSource: getIconSource('browse')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Guess', iconSource: getIconSource('search')}"
        name="browseTab">
    </page-router-outlet>
    
    <!-- <page-router-outlet
        *tabItem="{title: 'Search', iconSource: getIconSource('search')}"
        name="searchTab">
    </page-router-outlet> -->

    <page-router-outlet
        *tabItem="{title: 'History', iconSource: getIconSource('browse')}"
        name="historyTab">
    </page-router-outlet>
    
</TabView>