<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Guess"></Label>
</ActionBar>

<!-- <GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf1ea;"></Label>
    <Label class="page-placeholder" text="<<< Page content goes here >>>"></Label>
</GridLayout>
-->

<ScrollView>
    <GridLayout rows="auto, *, auto, auto">
        <StackLayout row="0" orientation="vertical" padding="10">
            <StackLayout orientation="horizontal" padding="10">
                <Label text="saveToGallery"></Label>
                <Switch [(ngModel)]="saveToGallery"></Switch>
            </StackLayout>
            <StackLayout android:visibility="collapsed" orientation="horizontal" padding="10">
                <Label text="allowsEditing"></Label>
                <Switch [(ngModel)]="allowsEditing"></Switch>
            </StackLayout>
            <StackLayout orientation="horizontal" padding="10">
                <Label text="keepAspectRatio"></Label>
                <Switch [(ngModel)]="keepAspectRatio"></Switch>
            </StackLayout>
            <StackLayout orientation="horizontal" padding="10">
                <Label text="width: "></Label>
                <TextField hint="Enter width" keyboardType="number" [(ngModel)]="width" class="input"></TextField>
                <Label text="height: "></Label>
                <TextField hint="Enter height" keyboardType="number" [(ngModel)]="height" class="input"></TextField>
            </StackLayout>
        </StackLayout>

        <Button row="1" text="Take Picture" (tap)='onTakePictureTap($event)' class="btn btn-primary m-t-20"></Button>
        <!-- <TextView></TextView> -->
        <StackLayout row="2" margin="10">
            <Label [text]="labelText" class="login-label"></Label>
        </StackLayout>
        <StackLayout row="3">
            <Image [src]="cameraImage" stretch="aspectFit" margin="10"></Image>
            <Button *ngIf='base64 !== undefined' text="Guess leaf" (tap)='onGuessLeafTap($event)' class="btn btn-primary m-t-20"></Button>
        </StackLayout>
    </GridLayout>
</ScrollView>